<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <div class="footer-links">
          {% block footer_nav %}
            <div class="span4">
                <h1 class="footer-title">Useful Links</h1>
                <ul class="unstyled">
                    {% block footer_links %}
                      <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                      <li><a href="http//msdc.qdio.ac.cn/">msdc.qdio.ac.cn</a></li>
                    {% endblock %}
                    {% block footer_debug %}
                        {% if g.debug %}
                        {% include 'snippets/debug.html' %}
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
            <div class="span4">
                {% block footer_lang %}
                    {% snippet "snippets/language_selector.html" %}
                {% endblock %}
            </div>
            <div class="span4">
                <img style="float: left;padding-right: 20px;padding-top: 5px;" src="http://msdc.qdio.ac.cn/Web/Tpl/default//img/logo1.png" alt="footer logo">
                <p>IOCAS Marine Science Data Center</p>
                <p>7 Nanhai Road
                    306,No 5 Building <br>
                    Qingdao, 266071
                    </p>
                <a href="tel:+8653282896760">+8653282896760 </a><br><br>
                <a class="contact-us" href="mailto:sjzx@qdio.ac.cn" itemprop="email">Contact Us</a>
            </div>
            
          {% endblock %}
      </div>
      {% endblock %}
    </div>
  </footer>
